@charset "UTF-8";

@media screen and (min-width: 360px) and (max-width: 460px){

section#redes-sociais img {
    width: 28px;
    margin: 10px;
    border-radius: 50%;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    box-sizing: border-box;
}
}