@charset "UTF-8";

@media screen and (min-width: 360px) and (max-width: 437px){

section#redes-sociais img {
    width: 25px;
    margin: 8px;
    border-radius: 50%;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    box-sizing: border-box;
}
section#redes-sociais {
  position: relative;
  top: 80px;
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: -webkit-flex;
    display: flex;
    min-height: 95vh;

    height: 627px;
    width: 311px;

    background: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}
}