@charset "UTF-8";

@media screen and (min-width: 360px) and (max-width: 437px){

section#redes-sociais img {
    width: 29px;
    margin: 10px;
    border-radius: 50%;
    margin: 20px 10px 10px 10px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    box-sizing: border-box;
}
section#redes-sociais {
    padding: 70px 0px 10px 10px;
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;

    background: url('../imagens/frame-iphone.png');
}
}